<a href="https://colab.research.google.com/github/luccidomingues/ML-DecisionTreeClassifier/blob/main/ML_Classifier_DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd


uri = "https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv"
dados = pd.read_csv(uri)
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [9]:
a_renomear = {
    'mileage_per_year' : 'milhas_por_ano',
    'model_year' : 'ano_do_modelo',
    'price' : 'preco',
    'sold' : 'vendido'
}
dados = dados.rename(columns=a_renomear)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco vendido
0           0           21801           2000   30941.02     yes
1           1            7843           1998   40557.96     yes
2           2            7109           2006   89627.50      no
3           3           26823           2015   95276.14      no
4           4            7935           2014  117384.68     yes

In [10]:
a_trocar = {
    'no' : 0,
    'yes' : 1
}
dados.vendido = dados.vendido.map(a_trocar)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco  vendido
0           0           21801           2000   30941.02        1
1           1            7843           1998   40557.96        1
2           2            7109           2006   89627.50        0
3           3           26823           2015   95276.14        0
4           4            7935           2014  117384.68        1

In [11]:
from datetime import datetime

ano_atual = datetime.today().year
dados['idade_do_modelo'] = ano_atual - dados.ano_do_modelo
dados.head()

   Unnamed: 0  milhas_por_ano  ...  vendido  idade_do_modelo
0           0           21801  ...        1               21
1           1            7843  ...        1               23
2           2            7109  ...        0               15
3           3           26823  ...        0                6
4           4            7935  ...        1                7

[5 rows x 6 columns]

In [12]:
dados['km_por_ano'] = dados.milhas_por_ano * 1.60934
dados.head()

   Unnamed: 0  milhas_por_ano  ...  idade_do_modelo   km_por_ano
0           0           21801  ...               21  35085.22134
1           1            7843  ...               23  12622.05362
2           2            7109  ...               15  11440.79806
3           3           26823  ...                6  43167.32682
4           4            7935  ...                7  12770.11290

[5 rows x 7 columns]

In [13]:
dados = dados.drop(columns = ["Unnamed: 0", "milhas_por_ano","ano_do_modelo"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               21  35085.22134
1   40557.96        1               23  12622.05362
2   89627.50        0               15  11440.79806
3   95276.14        0                6  43167.32682
4  117384.68        1                7  12770.11290

In [14]:
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


x = dados[["preco", "idade_do_modelo","km_por_ano"]]
y = dados["vendido"]


SEED = 5
np.random.seed(SEED)
raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(raw_treino_x), len(raw_teste_x)))

modelo = DecisionTreeClassifier(max_depth=3)
modelo.fit(raw_treino_x, treino_y)
previsoes = modelo.predict(raw_teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 79.28%

In [ ]:
from sklearn.model_selection import train_test_split

train=0.8
val=.1
test=1-train-val


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test+val, random_state=27)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=test/(val+test), random_state=99)

print(np.shape(X_train), np.shape(X_test), np.shape(X_val))
print(np.shape(y_train), np.shape(y_test), np.shape(y_val))


from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train) #dando o fit na base de treino

#transformando
X_train=scaler.transform(X_train) 
X_test=scaler.transform(X_test)
X_val=scaler.transform(X_val)

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logregFit = logreg.fit(X_train, y_train)
logregScore = logregFit.score(X_test, y_test)

print("acurácia  na base de teste=",logregScore)

In [15]:
# from sklearn.tree import export_graphviz
# import graphviz

# features = x.columns
# dot_data = export_graphviz(modelo, out_file=None,
#                            filled = True, rounded = True,
#                            feature_names = features,
#                           class_names = ["não", "sim"])
# grafico = graphviz.Source(dot_data)
# grafico